.landing {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 150%;
    justify-content: space-around;
    text-align: center;
    background-color: lightseagreen;
}

.button { 
    background-color: #0020C2;
    color: white;
    font-size: large;
    padding: 8px;
    border-color: #0020C2;
    min-width: 300px;
}