.selection {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-color: whitesmoke;
}


.button { 
    background-color: #0020C2;
    color: white;
    font-size: large;
    padding: 8px;
    border-color: #0020C2;
}

.more {
    width: 300px;
    margin: 8px 0 16px;
}

.searchbox {
    margin-top: 16px;
}

.searchbar {
    font-size: large;
    padding: 8px;
}
